/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /* banner start  */
    .single-slide {
        padding: 160px 0 80px;
        min-height: 700px;
    }

    .slider-inner {
        padding: 40px 10px;
        max-width: 95%;
    }

    .slider-inner h3 {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .slider-inner h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .slider-inner p {
        margin-bottom: 30px;
        font-size: 15px;
    }

    /* banner end  */

    /*About Start*/
    .about {
        padding: 50px 0;
    }

    .about-left-head {
        font-size: 20px;
    }

    /*About End*/
    /* service start  */

    .service {
        padding: 50px 0;
    }

    /* service end  */
    /* cta start  */
    .cta-wrapper {
        padding: 30px 20px;
        background-color: #001844;
    }

    .cta-wrapper h1 {
        font-size: 20px;
    }

    /* cta end  */
    /* faq start  */

    .faq {
        padding: 50px 0;
    }

    /* faq end  */
    /* google-review start  */

    .google-review {
        padding: 50px 0;
    }

    /* google-review end */
    /* contact start  */

    .contact {
        padding: 50px 0;
    }

    .contact-wrapper {
        padding: 30px 10px;
    }

    /* contact end  */
    .quotation {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .author span {
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 4px;
        font-family: "Ms Madi", cursive;
    }


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    /* banner start  */
    .single-slide {
        padding: 170px 0 80px;
    }

    .slider-inner {
        padding: 40px 30px;
        max-width: 95%;
    }

    .slider-inner h3 {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .slider-inner h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        letter-spacing: 1px;
    }

    .slider-inner p {
        margin-bottom: 30px;
        font-size: 15px;
    }

    /* banner end  */


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    footer .military-offer-wrapper p {
        font-weight: 500;
        font-size: 13px;
        color: #b3b3b3;
        line-height: 18px;
    }

}

/*X large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/*XX Large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}